/*.boxcontacto{
    position:relative;
    color: #333;
    background-color: black;
 
    &__cont{
        display: block;
        transform:translateX(80%);
        margin-right:10%;   
        margin-top:60px;
    }
}
.logo {
    color: #fff;
    position: absolute;
    transform:translateX(300px);
    background-color: #1c2746;
    padding: 30px 100px 30px 100px;
    
}
.box3 {
    margin-top:50px;
    text-align: center;
}*/
