.box1{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom:0;
    &__img-background{
        
        height: 100vh;
        width:100%;
        display:block;
    
    }

    &__text{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:absolute;
        color: white;
        width: 50%;
        font-size: 1.5rem;
        
        h2{
            font-weight: 400;
            letter-spacing: 4px;
            margin-bottom:60px;
            font-size: 3.0rem;
            color: #ffffff;

        }
        p{
            font-size: 1.8rem;
            letter-spacing: 2.5px;
        }
    }
}
    
.box2__benefits{
    position: relative;
    margin-top:-37px;
    background-color:#1c2746;
    height: 850px;

    
    h2{
        text-align: center;
        padding-top: 80px;
        font-size:2.5rem;
        color: #FFF;
    }
}
.boxis{
    float:left;
    flex:none;
    width: 31%;
    background-color: rgb(241, 250, 255);
    margin-right: 10px;
    margin-bottom: 10px;
    padding:25px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 20px;
    text-align:center;
    
  
    &:nth-child(1n){
        margin-left:10px;
        margin-top:10px;
    }
    &:nth-child(3n){
        margin-right: 10px;
    }
    &:nth-child(6n){
        margin-right: -8px;
    }

}
.cuerpo-benefit1{
    display: flex;
    flex-wrap: wrap;
    margin-top:70px;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    color:#333;
    justify-content: space-between;
    .items{
        padding-bottom: 15px;
        font-size:1.5rem;
        color: #333;
        border-bottom: 4px solid #242a56;
        border-radius: 10px 10px 10px 10px;
        text-align:center;
       
    }
    .items-texto{
        font-size:1.2rem;
    }
}

.fix{
    clear: both;
}


.group: before,
.group:after {
    content:"";
    display: table;
}
.group:after {
    clear:both;
}

.group {
    zoom: 1;
}



